/* Untuk Tablets */
@media (max-width: 1000px) {
  .top-header h1 {
  font-size: 32px;
}

.heading h2 {
  font-size: 20px;
}
.content {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading p {
    font-size: 20px;
  }
}

/* Untuk Smartphones */
@media (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }

  .top-header {
    text-align: left;
  }

  .top-header h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-header p {
    font-size: 14px;
    line-height: 20px;
  }
  .content {
    width: 100%;
  }

.top-wrapper h1 {
  font-size: 24px;
  line-height: 36px;
}

  .top-wrapper p {
   font-size: 14px;
   line-height: 20px;
  }
}
